[submodule "01-typescript-intro"]
	path = 01-typescript-intro
	url = https://github.com/pandc19/ng-01-typescript-intro.git
[submodule "02-bases"]
	path = 02-bases
	url = https://github.com/pandc19/angular-bases.git
[submodule "03-gifs-app"]
	path = 03-gifs-app
	url = https://github.com/pandc19/angular-gifs-app.git
