[submodule "01-typescript-intro"]
	path = 01-typescript-intro
	url = https://github.com/pandc19/ng-01-typescript-intro.git
[submodule "02-bases"]
	path = 02-bases
	url = https://github.com/pandc19/angular-bases.git
[submodule "03-gifs-app"]
	path = 03-gifs-app
	url = https://github.com/pandc19/angular-gifs-app.git
[submodule "04-contryApp"]
	path = 04-contryApp
	url = https://github.com/pandc19/angular-contryApp.git
[submodule "05-pipesApp"]
	path = 05-pipesApp
	url = https://github.com/pandc19/ng-pipesApp.git
[submodule "06-heroesApp"]
	path = 06-heroesApp
	url = https://github.com/pandc19/ng-heroesApp.git
[submodule "07-formsApp"]
	path = 07-formsApp
	url = https://github.com/pandc19/ng-formsApp.git
[submodule "08-selectores"]
	path = 08-selectores
	url = https://github.com/pandc19/ng-selectores.git
[submodule "09-lifecycle"]
	path = 09-lifecycle
	url = https://github.com/pandc19/ng-lifecycle.git
[submodule "10-mapsApp"]
	path = 10-mapsApp
	url = https://github.com/pandc19/ng-mapsApp.git
[submodule "11-directiveSignals"]
	path = 11-directiveSignals
	url = https://github.com/pandc19/ng-directiveSignals.git
[submodule "12-nest-backend"]
	path = 12-nest-backend
	url = https://github.com/pandc19/ng-nest-backend.git
[submodule "13-authApp"]
	path = 13-authApp
	url = https://github.com/pandc19/ng-authApp.git
